#navbarResponsive {
  transition: height 0.3s ease;
}

body {
  padding-top: 50px;
  transition: margin-top 0.3s ease;
}

@media (max-width: 360px) {
  tr td img {
    width: 50px;
    height: auto;
  }
}
